.footer {
  position: fixed;
  bottom: 0;
  /* background-color: black; */
  width: 100%;
  padding-top: 5px;
  display: none;
  border-top: 1px solid goldenrod;
  background: rgb(44, 44, 187);
  background: linear-gradient(
    90deg,
    rgba(44, 44, 187, 1) 0%,
    rgba(20, 230, 44, 1) 0%,
    rgba(0, 232, 244, 1) 0%,
    rgba(39, 152, 182, 1) 0%,
    rgba(2, 0, 36, 1) 0%,
    rgba(45, 208, 237, 1) 0%,
    rgba(178, 252, 255, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(33, 46, 47, 1) 50%,
    rgba(0, 0, 0, 1) 100%,
    rgba(87, 119, 187, 1) 100%,
    rgba(6, 0, 125, 1) 100%,
    rgba(105, 213, 250, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
}
.footer .footercontent .footerUl {
  display: flex;
  justify-content: space-between;
  margin-left: 0%;
}
.footerUl {
  padding-left: 2%;
  padding-right: 2%;
}
.footerUl > li {
  margin-left: 5px;
  margin-right: 5px;
}

.disabledfooter {
  display: none;
}
@media (max-width: 600px) {
  .footer {
    display: block;
  }
}
