.leftsidebar {
  padding: 5%;
  height: 92vh;
  overflow-y: scroll;
}
.leftsidebar::-webkit-scrollbar {
  display: none;
}
.hrline {
  /* border: 1px solid white; */
  border-bottom: 1px solid white;
}
.club {
  /* background-color: rgb(172, 96, 243); */
  background-color: transparent;
  padding: 5%;
  border: 1px solid goldenrod;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.club .moreinfobtn {
  background-color: black;
  border: 1px solid goldenrod;
  padding: 5px;
  border-radius: 25px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.club small a {
  color: white;
  text-decoration: none;
  /* font-weight: bold; */
}

@media (max-width: 600px) {
  .clubs {
    margin-bottom: 20%;
  }
}
