.form-control {
  background-color: transparent;
}
select,
select option {
  color: white;
  background-color: black;
}
.btns {
  background-color: black;
  color: white;
  padding: 2px;
}
tbody, thead{
    background: linear-gradient(
        90deg,
        rgba(44, 44, 187, 1) 0%,
        rgba(20, 230, 44, 1) 0%,
        rgba(0, 232, 244, 1) 0%,
        rgba(39, 152, 182, 1) 0%,
        rgba(2, 0, 36, 1) 0%,
        rgba(45, 208, 237, 1) 0%,
        rgba(178, 252, 255, 1) 0%,
        rgba(0, 0, 0, 1) 0%,
        rgba(33, 46, 47, 1) 50%,
        rgba(0, 0, 0, 1) 100%,
        rgba(87, 119, 187, 1) 100%,
        rgba(6, 0, 125, 1) 100%,
        rgba(105, 213, 250, 1) 100%,
        rgba(0, 0, 0, 1) 100%
      );
      background-repeat: no-repeat;
}

.buttons{
  display: flex;
  column-gap: 5px;
}